.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.input {
  width: 100%;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.paginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0 10px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}
