.addUserContainer {
  height: calc(100% - 25px);
  width: 100%;
  border-radius: 12px;
  background-color: #fbfbfb;
  padding: 20px 35px;
  overflow-y: auto;
}
.addUserContainer::-webkit-scrollbar {
  width: 4px;
  border-radius: 2px;
}

.addUserContainer::-webkit-scrollbar-track {
  background-color: #f8f4ff;
}

.addUserContainer::-webkit-scrollbar-thumb {
  background-color: #e7e5ec;
}

.addUserContainer::-webkit-scrollbar-thumb:hover {
  background-color: #e7e5ec;
}
.formTitle {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 25px;
  color: #367ff6;
}
