.inputContainer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  border: 1px solid #c6c6c6;
  /* padding: 0px 10px; */
  background-color: white;
  margin-bottom: 30px;
  /* padding: 2.5px 0px; */
}

.inputContainer:hover {
  border: 1px solid #575757;
}

.inputContainerActive {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 14px;
  border: 1px solid #367ff6;
  box-shadow: inset 0 0 0 1px #367ff6;
  /* padding: 0px 10px; */
  background-color: white;
  /* padding: 2.5px 0px; */
}

.small {
  width: 48%;
  min-width: 180px;
}

.medium {
  width: 75%;
  min-width: 280px;
}

.large {
  width: 100%;
  min-width: 380px;
}

.input {
  width: 99%;
  height: 98%;
  /* margin: 0px 5px; */
  border: none;
  outline: none;
  box-shadow: none;
  resize: none;
  border-radius: 14px;
  padding: 7px;
}

.searchIcon {
  font-size: 15px;
  color: #c6c6c6;
}