.navbarContainer {
  height: 72px;
  width: 100vw;
  /* margin: 7px 0px; */
  display: flex;
  align-items: center;
  padding: 0px 15px;
}
.titleLogo {
  display: flex;
  align-items: center;
  /* width: 30%;
  max-width: 240px; */
  width: 240px;
  justify-content: space-between;
}
.brandBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.logo {
  width: 60px;
  height: auto;
  padding-right: 2px;
}
.title {
  font-size: 22px;
  font-weight: 600;
  display: contents;
}
.userInfo {
  font-size: 11px;
  margin-left: 0px;
  color: #5c6470;
  position: static;
  line-height: 1.2;
}
.barContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 240px);
  padding: 0px 15px;
}
.perfilContainer {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.configContainerWhite {
  height: 45px;
  width: 85px;
  display: flex;
  align-items: center;
  background-color: #f1f4f8;
  border-radius: 50px;
  justify-content: space-around;
  padding: 5px;
}
.configContainerBlue {
  height: 45px;
  width: 85px;
  display: flex;
  align-items: center;
  background-color: #367ff6;
  border-radius: 50px;
  justify-content: space-around;
  padding: 5px;
  transition: 0.5s;
}
.configIconBlue {
  color: #367ff6;
  font-size: 22px;
  font-weight: 100;
  padding-top: 2px;
}
.configIconWhite {
  color: #f1f4f8;
  font-size: 22px;
  font-weight: 100;
  padding-top: 2px;
  transition: 0.5s;
}
.avatarContainer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff164;
  display: flex;
  align-items: center;
  justify-content: center;
}
