.editContainer {
  margin-top: 35px;
  height: 550px;
  padding: 0px 15px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dataContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  margin-bottom: 10px;
}
.dataUser {
  height: 20px;
  margin-left: 5px;
  font-weight: 600;
}
.inputContainer {
  display: flex;
  justify-content: flex-start;
  height: 580px;
  margin-bottom: 15px;
  border: 1px solid #eaeaea;
  border-radius: 14px;
  padding: 16px 16px;
}
.leftInputContainer {
  width: 49%;
  height: 99%;
}
.rigthInputContainer {
  width: 45%;
  height: 99%;
}
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.buttonSubContainer {
  margin: 0 5px;
}
.inputLabel {
  margin: 0 10px;
  color: #202020;
}
.dpicker {
  margin-bottom: 25px;
  border-radius: 10px;
  width: 215px;
  height: 47px;
}
.checkInput {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}
.checkI {
  width: 15px;
  height: 15px;
}
.dpContainer {
  display: flex;
  flex-direction: column;
}
.tableContainer {
  width: 100%;
  height: calc(100vh - 300px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #eaeaea;
  border-radius: 14px;
}
.subTitle {
  margin-top: -20px;
  margin-bottom: 15px;
  color: #575757;
  font-size: 13px;
  background-color: #fbfbfb;
  z-index: 2;
  display: inline-block;
  max-width: 160px;
  display: flex;
  justify-content: center;
}
