.encabezado {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.logo {
  width: 225px;
}
.infoEminContainer {
  display: flex;
  flex-direction: column;
  width: 225px;
  align-items: center;
  padding-left: 15px;
}
.infoEmisTex {
  width: 100%;
}
.tipeFact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: 2px solid black;
  font-size: 50px;
  font-weight: 600;
}
.cod {
  font-size: 12px;
  display: flex;
  justify-content: center;
}
.factCode {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dataFact {
  width: 310px;
  height: 175px;
  border: 2px solid black;
}
.leftCont {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.factCont {
  border-bottom: 2px solid black;
}
.hojaCont {
  font-size: 23px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.numberFact {
  display: flex;
  justify-content: center;
  font-size: 21px;
  font-weight: 600;
}
.fechaFact {
  border-bottom: 2px solid black;
  font-size: 19px;
  font-weight: 500;
}
.dataFact p {
  margin: 0px;
  margin-bottom: 7px;
}
.dataFact span {
  margin: 0px;
  margin-bottom: 10px;
  font-weight: 600;
}
.datFisc {
  margin-top: 2px;
}
.clientContainer {
  width: 100%;
  height: 135px;
  border: 1px solid black;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}
.tableContainer {
  width: 100%;
  height: 570px;
}
.afipDataDosContainer {
  width: 100%;
  border-top: 2px solid black;
  padding: 10px;
  display: flex;
}
.qr {
  width: 160px;
  height: 160px;
}
.libreDeResp {
  font-size: 10px;
}
.afipDataDosContainerLeft {
  width: 67%;
}
.logoAfip {
  width: 185px;
  margin-top: -9px;
}
.imgLogQr {
  display: flex;
}
.dataCae {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  height: 80px;
  justify-content: space-between;
  margin-top: 55px;
}
.totalCont {
  width: 33%;
  margin-top: 35px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.pesosSpanCont {
  font-size: 17px;
  font-weight: 500;
}
.pesosSpan {
  margin-left: 15px;
  font-weight: 600;
}
.ivaClient {
  width: 100%;
  display: flex;
}
.clientInfoText {
  width: 100%;
  font-size: 18px;
}
.clientInfoTextDos {
  font-weight: 600;
  margin-left: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
